*{
    font-family: Arial, Helvetica, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to right, white 50%, #5D8AA8 50%);
}

header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;
}



.logo {
    text-decoration: none;
    color: #5D8AA8;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
}
.icon {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    position: relative;
    top: 10px;
}
    
.navigation a{
    color:#5D8AA8;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 100;
    padding-left: 30px;
}

.container1 {
    position: absolute;
    background:#5d8aa8cb;
    height: 400px;
    width: 400px;
    left: 300px;
    top: 150px;
    z-index: 1;
    text-align: center; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 2px solid rgba(255, 255, 255, 0.73);
}

.container1 img {
    max-width: 90%; 
    max-height: 90%; 
    width: auto; 
    height: auto; 
    margin: auto; 
}
.container2 {
    position: absolute;
    background:white;
    height: 300px;
    width: 400px;
    left: 630px;
    top: 200px;
    z-index: 1;
    /*text-align: center; */
    display: flex; 
    align-items: center; 
    justify-content: center; 
   border: 3px solid #5D8AA8;
   display: flex;
   flex-direction: column;
   
}
.p1, .p2, .p3,.p4 {
    margin: 5px; 
}
.p4 a {
    color:#899499;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 200;
    padding-left: 30px;
}
.p4 a :hover {
    color:black;
    
}

.p1 {
    color: #899499;
    font-size: 25px;
    font-weight: 800;
  
}

.p2 {
    font-size: 28px;
    font-weight: 1000;
    background-image: linear-gradient(to left, #6A95DA, #5DD7EF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
   
}

.p3 {
    color: #899499;
    font-size: 23px;
    font-weight: 700;
}
section {
    padding: 120px 50px;
}
.CAS-Activities {
    background-color: #7a6c5f;
}

.program .content {
    margin-top: 30px;
}
.homepage p {
    margin: 10px 0;
    color: white;
}

.joinus {
    position: absolute;
    top: 100vh; 
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}
.programs{
    position: absolute;
    top: 150vh; 
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #D3D3D3;
    text-align: center;
}
.AboutUs{
    position: absolute;
    top: 320vh; 
    left: 0;
    width: 100%;
    padding: 20px;
    background-color:#b6b6b6;
    text-align: center;
}
.joinus h2 {
    font-family: 'Roboto', sans-serif;
}
.homepage,
 .joinus{
            padding: 120px 50px;
            text-align: center;
        }
.joinus, .programs{
    padding: 120px 50px;
    text-align: center;
}

 .joinus,.AboutUs{
            padding: 120px 50px;
            text-align: center;
        }
.joinus h2 {
            margin-bottom: 20px;
        }

.social-icons {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 24px;
 } 
       

.social-icons a {
            margin: 0 10px;
        }

.join-text {
            font-size: 1.2em;
            margin-bottom: 10px;
        }

.join-link {
            color: #5D8AA8;
            text-decoration: none;
            font-weight: 700;
            cursor: pointer;
        }
.Cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 20px; 
            justify-content: center;
}
.program .content {
    margin-top: 30px;
}

.program-card {
    background-color: white;
    border: 10px solid white;
    min-height: 15em;
    width: 20em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.program-card:hover {
    transform: scale(1.1);
}

.program-card:hover .program-image{
    opacity: 0.8;
}

.program-image img {
    width: 100%;
}

.program-info {
    padding: 1.5em;
    text-align: center;
}

.program-category {
    font-size: 0.8em;
    color:#5d8aa8cb;
    font-weight: 800;
}

.program-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.7em;
    margin: 20px;
}
.program-image img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
}
.title {
    margin-bottom: 20px; 
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    flex: 1;
    max-width: 300px; /* Adjust the maximum width as needed */
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text {
    flex: 1;
    padding: 0 20px; 
}
.AboutUs h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-left: 280px;
    color:#5D8AA8;
    font-family: 'Roboto', sans-serif;
}
 
.AboutUs p {
    font-size: 1rem;
    color: black;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


