* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #282828;
    color: white;
}
header {
    background-color: #282828;
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    position: fixed;
    z-index: 1000;
}
.logo {
    display: flex;
    overflow: hidden;
    height: 100%;
    color: #67cad4;
    padding: 10px;
}
.logo a {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    animation: colorChange 3s infinite alternate;
}
@keyframes colorChange {
    0% {
        color: #00fda5;
    }
    100% {
        color: #ffd000;
    }
}
.navigation {
    padding-right: 70px;
    float: right;
    display: flex;
    justify-content: center;
    grid-column: 2;
}
.navigation a {
    text-decoration: none;
    color: rgb(146, 146, 146);
    padding: 10px;
    transition: 0.5s;
}
.navigation a:hover {
    color: #00fda5;
}
.recherche {
    display: flex;
    align-items: center;
    margin-right: 0;
    justify-content: flex-end;
    grid-column: 3;
}
.recherche form {
    display: flex;
    margin: 0;
}
.recherche input {
    outline: none;
    background-color: #282828;
    border-radius: 45px;
    margin-right: 10px;
    padding: 6px;
    font-size: 15px;
    color: white;
}
.recherche button {
    border: none;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    margin-right: 20px;
    background-color: transparent;
    color: rgb(146, 146, 146);
    transition: 0.5s;
}
.recherche button:hover {
    color: #67cad4;
}


main {
    background-image: url('pap11.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-attachment: fixed;
}
.profile {
    height: 200px;
    width: 350px;
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 5px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    background-color: #313131;
}
.profilePic {
    height: 100px;
    width: 100px;
    background-image: url(profile-major-icon-512x512-xosjbbdq.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -20px;
    left: -50px;
    border-radius: 50%;
    border-color: #00fda5;
    border-style: double;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.profileInfos {
    height: 150px;
    width: 330px;
    margin-left: 40px;
    table {
        width: 100%;
        border-collapse: collapse;
        color: aliceblue;
    }

    td {
        padding: 5px;
        text-align: left;
    }

    tr:hover {
        background-color: #313131;
    }
}

.ranking {
    height: 240px;
    width: 600px;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 5px;
    position: relative;
    display: block;
}
#rankingTitle {
    height: 40px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00fda5;
}
#better, #me, #worse {
    height: 40px;
    width: auto;
    background-color: #313131;
    margin: 15px 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 5px;
}
.ranking div h1 {
    color: #ffd000;
}


#comingActivities {
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 400px;
    width: 100%;
    display: block;
}
.annonceTitle {
    width: auto;
    color: #00fda5;
    padding: 10px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.annonce {
    width: auto;
    margin: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    div {
        height: 320px;
        width: 350px;
        margin: 15px;
        border-radius: 10px 80px 20px 80px;
    }
}
.content {
    background-color: #282828;
    max-width: 305px;
    max-height: 275px;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 15px;
    h2 {
        margin: 20px;
    }
    p {
        max-width: 100%;
        word-wrap: break-word;
    }
    button {
        margin: 20px;
        padding: 10px;
        border-radius: 20px;
        background-color: rgba(240, 248, 255, 0.918);
    }
    button:hover {
        background-color: rgb(254, 254, 254);
        transform: scale(1.09);
        cursor: grab;
    }
}
.collecte {
    background: linear-gradient(to bottom, #ff2ae0, #645bf6);
}
.coursSoutien {
    background: linear-gradient(to bottom, #ffec61, #f321d7);
}
.donSang {
    background: linear-gradient(to bottom, #ff2424, #9a4eff);
}
.journeePetitIngénieur {
    background: linear-gradient(to bottom, #ff2ae0, #f6915b);
}
.donPaquets {
    background: linear-gradient(to bottom, #2ac3ff, #77f65b);
}
.sortieEnfants {
    background: linear-gradient(to bottom, #2affd8, #645bf6);
}


#mesParticipations {
    background-image: url('189271609765514.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 200px;
    width: 100%;
    display: block;
    align-items: center;
    background-attachment: fixed;
    padding: 15px;
}
.participationTitle {
    width: 100%;
    padding-top: 40px;
    color: #00fda5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.participation {
    height: auto;
    margin: 50px;
    div {
        width: auto;
        border-radius: 10px;
        margin: 15px;
    }
}
.participationContent {
    display: flex;
    align-items: start;
    justify-content: space-between;
    p {
        padding: 10px;
        border-radius: 10px;
    }
}
#date {
    width: 85px;
    background-color: #ffd000;
    color: black;
}
#details {
    width: 1000px;
    background-color: #282828;
    max-width: 100%;
    word-wrap: break-word;
}